* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 50px;
    justify-content: center;
    align-items: flex-start;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: top;
}

.piscarVermelho {
    background-color: red;
}

.piscarVerde {
    background-color: green;
}